<header>
    Page header

    <ul><% if (locals.user) {%>
     <li><a href="/users/profile">
        <%= user.name %>
     </a></li>
    <li>
        <a href="/users/SignOut">Sign Out</a>
    </li>
        <% }else{ %>
      <li>
        <a href="/users/SignIn">Sign In</a>
      </li>
        <a href="/users/SignUp">Sign Up</a>
        <% } %>
    
    </ul>
</header>