<header id="layout-header">
  <nav>
        <div class="mini-logo">
             <p>
               <a href='/'> codeial </a>
               </p>
        </div>

      <div class="auth-links">
          <ul><% if (locals.user) {%>
            <li><a href="/users/profile/<%= u.id %>"><%= user.name %></a>
            </li>
            <li> <a href="/users/SignOut">Sign Out</a>
            </li>
            <% }else{ %>
            <li><a href="/users/SignIn">Sign In</a>
            </li><a href="/users/SignUp">Sign Up</a>
           <% } %>   
          </ul>
      </div>
    </nav>
</header>