<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <%- include('_header'); %>

        <h1>
            Codeial/ profile page 
        </h1>
       <%- include('_footer'); %>  
    </body>
</html>