<link rel="stylesheet" href="/css/user_profile.css">

        <h1>Codeal / <%= title %></h1>
      <p>Name : <%= user.name%></p>
      <p>Name : <%= user.email%></p>

<button type="button"> Sign out</button>
